<%page expression_filter="h" args="section_data"/>

<%!
from django.utils.encoding import escape_uri_path
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text

%>

<%page args="section_data" expression_filter="h"/>
<%! from openedx.core.djangolib.markup import HTML %>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    % for user in section_data['users']:
      <tr>
        <td>${user.username }</td>
        <td>${user.first_name } ${user.last_name}</td>
        <td>${user.email }</td>
      </tr>
    % endfor
  </tbody>
</table>

<section class="recap-dashboard">
    ${HTML(section_data['fragment'].body_html())}
</section>




<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

</style>
