<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
  from openedx.core.lib.js_utils import escape_json_dumps
  from urlparse import urlparse, parse_qs
%>
<%inherit file="../main.html" />
<%
  getT = request.GET.get("t", "")
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')

url = 'https://vm1-cloud.iblstudios.com/courses?t=edX'
o = urlparse(url)

%>

<%namespace name='static' file='../static_content.html'/>





% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${ escape_json_dumps(course_discovery_meanings) | n },
      getParameterByName('search_query')
    );
  </%static:require_module>
</%block>
% endif

<%block name="pagetitle">${_("Courses")}</%block>
<section class="home">
  <header>
    <div class="outer-wrapper">
      <div class="title">
        <hgroup>
          % if homepage_overlay_html:
            ${homepage_overlay_html}
          % else:
              <h1>BUILD WHAT YOU LOVE</h1>
              <h3>Professional Solutions and Education for the Building Industry</h3>
              <div id='flylogo'><img src='/static/images/Sticker_circle_02.png' class='flyimage'></div>
              %if user.is_authenticated():
                  <center><a href='https://buildacademy.com/membership/' class='homebut1'>Membership</a></center>
              % else:
                <center><a href='https://buildacademy.com/membership/' class='homebut1'>Join</a></center>
              %endif
          % endif
        </hgroup>
      </div>

      % if show_homepage_promo_video:
        <a href="#video-modal" class="media" rel="leanModal">
          <div class="hero">
            <div class="play-intro"></div>
          </div>
        </a>
      % endif
    </div>

  </header>
  <section class="courses-container">
<div id='facontainer'>



<div id='fac1' class='faculty1 colo1'><a href='/faculties/architecture' onmouseover='$("#fai1").css("transform","rotateY( 180deg )")' onmouseout='$("#fai1").css("transform","rotateY( 0 )")'><img src='/static/images/architecture.png' class='faimg' border=0 id='fai1'><br>Architecture</a></div>
<div id='fac2' class='faculty1 colo2'><a href='/faculties/engineering'  onmouseover='$("#fai3").css("transform","rotateY( 180deg )")' onmouseout='$("#fai3").css("transform","rotateY( 0 )")'><img src='/static/images/engineering.png' class='faimg' border=0 id='fai3'><br>Engineering</a></div>
<div id='fac3' class='faculty1 colo3'><a href='/faculties/realestate'  onmouseover='$("#fai4").css("transform","rotateY( 180deg )")' onmouseout='$("#fai4").css("transform","rotateY( 0 )")'><img src='/static/images/realstate.png' class='faimg' border=0 id=fai4><br>Real Estate</a></div>
<div id='fac4' class='faculty2 colo4'><a href='/faculties/products'  onmouseover='$("#fai2").css("transform","rotateY( 180deg )")' onmouseout='$("#fai2").css("transform","rotateY( 0 )")' ><img src='/static/images/sustainability.png' class='faimg' border=0 id='fai2'><br>Products</a></div>
</div>

</center>

</center>


  </section>

<section class="find-courses">
  <section class="courses-container">
    % if course_discovery_enabled:
    <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
      <div id="discovery-message" class="search-status-label"></div>
      <form class="wrapper-search-input">
        <label for="discovery-input" class="sr">${_('Search for a course')}</label>
        <input id="discovery-input" class="discovery-input" placeholder="${_('Search for a course')}" type="text"/>
        <button type="submit" class="button postfix discovery-submit" aria-label="${_('Search')}">
          <i class="icon fa fa-search" aria-hidden="true"></i>
          <div aria-live="polite" aria-relevant="all">
            <div id="loading-indicator" class="loading-spinner hidden">
              <i class="icon fa fa-spinner fa-spin"></i>
              <span class="sr">${_('Loading')}</span>
            </div>
          </div>
        </button>
      </form>
    </div>

    <div id="filter-bar" class="filters hide-phone is-collapsed">
    </div>
    % endif

    <div class="courses${'' if course_discovery_enabled else ' no-course-discovery'}" role="region" aria-label="${_('List of Courses')}" >
      <ul class="courses-listing">
        %for course in courses:
        <li class="courses-listing-item">
          <%include file="../course.html" args="course=course" />
        </li>
        %endfor
      </ul>
    </div>


    % if course_discovery_enabled:
    <aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu" style="float: right;">
      <h2 class="header-search-facets">${_('Refine Your Search')}</h2>
      <section class="search-facets-lists">
      </section>
    </aside>
    % endif

  </section>
</section>
