
<%!
from django.utils.translation import ugettext as _

from openedx.core.djangolib.markup import HTML, Text

from student.models import UserProfile
%>

% if course and not UserProfile.has_registered(user):
  <%
    tos_link = u"<a href='{}'>".format(marketing_link('TOS'))
    privacy_link = u"<a href='{}#privacy'>".format(marketing_link('TOS'))
  %>

  <p class="sneakpeek-warning">
    ${Text(_("By exploring the course, you are agreeing to our {tos_link_start}Terms of Service{link_end} and {privacy_link_start}Privacy Policy{link_end}. Please read them carefully.")).format(
      tos_link_start=HTML(tos_link),
      privacy_link_start=HTML(privacy_link),
      link_end=HTML('</a>')
    )}
  </p>
% endif
