label.required:after
{
    content: '*';
}
.select-sub_affiliation,
.select-stanford_department,
.text-sunet_id,
.select-sub_specialty,
.text-other_affiliation
{
    display: none;
}
.login-register .form-field.select-gender
{
    width: 100%;
}
.form-field.select-professional_designation LABEL:after
{
    content: '\2020';
}
label.required
{
    font-weight: bold;
}
fieldset
{
    border: 1px dashed #ccc;
    padding: 10px;
}
fieldset label
{
    padding: 5px;
}
