<%!
  from django.utils.translation import ugettext as _
%>

<div class="wrapper wrapper-nav-sub">
    <div class="nav-sub">
        <ul>
            <li class="nav-item nav-help-documentation">
                <a href="https://edx.readthedocs.org/projects/edx-partner-course-staff/en/latest/index.html">${_("Studio Documentation")}</a>
            </li>
            <li class="nav-item nav-help-helpcenter">
                <a href="https://stanfordonline.zendesk.com/hc" target="_blank" rel="external">${_("Help Center")}</a>
            </li>
            <li class="nav-item nav-help-feedback">
                <a href="mailto:courseops@stanfordonline.zendesk.com" title="${_("Share your feedback with us.")}">${_("Contact Us")}</a>
            </li>
        </ul>
    </div>
</div>
