<%!
  from django.utils.translation import ugettext as _
  from django.core.urlresolvers import reverse
%>
<%inherit file="main.html" />

<%namespace name='static' file='static_content.html'/>

<%block name="pagetitle">${_("Course catalog")}</%block>

<main id="main" class="theme-content" aria-label="Content" tabindex="-1">
<div class="home theme-content_section">
    <header class="theme-content_header">
        <div class="theme-content_helper"></div>
        <div class="outer-wrapper">
          <div class="title">
            <div class="heading-group">
                  <h1>Course Catalog</h1>
                  <p>Lorem ipsum dolor sit amet enim, etiam ullamcorper.</p>
            </div>

            %if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
              <div class="course-search">
                <form method="get" action="/courses">
                  <label><span class="sr">${_("Search for a course")}</span>
                    <input class="search-input" name="search_query" type="text" placeholder="${_("Search for a course")}"></input>
                  </label>
                  <button class="search-button" type="submit">
                    <span class="sr">${_("Search")}</span>
                  </button>
                </form>
              </div>
            % endif
          </div>

        </div>

      </header>
    <section class="categories">
    <h2 class="categories_heading">Select a course category below for more details.</h2>
    <div class="categories_holder">
     % for category1, children1 in categories.iteritems():
      <section class="categories_section level-1">
        <a class="categories_main-link" href="${reverse('course_category', kwargs={'slug': category1.slug})}">${category1.name}</a>
       % if children1:
        <ol class="categories_list level-2">
         % for category2, children2 in children1.iteritems():
          <li class="categories_item">
            <a class="categories_link" href="${reverse('course_category', kwargs={'slug': category2.slug})}">${category2.name}</a>
           % if children2:
            <ol class="categories_list-inner level-3">
             % for category3 in children2:
              <li class="categories_item-inner"><a class="categories_link-inner" href="${reverse('course_category', kwargs={'slug': category3.slug})}">${category3.name}</a></li>
             % endfor
            </ol>
           % endif
          </li>
         % endfor 
        </ol>
       % endif
      </section>
     % endfor 
    </div>
    </section>
  </div>
</main>
