## mako

<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>

<%!
import json
import waffle

from django.conf import settings
from django.utils.translation import ugettext as _
from django.template.defaultfilters import escapejs
from django.core.urlresolvers import reverse

from django_comment_client.permissions import has_permission
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML
from openedx.features.course_experience import UNIFIED_COURSE_TAB_FLAG, SHOW_REVIEWS_TOOL_FLAG

from openedx.core.djangoapps.user_api.accounts.image_helpers import get_profile_image_urls_for_user
%>

<%
self.real_user = getattr(user, 'real_user', user)
username = self.real_user.username
profile_image_url = get_profile_image_urls_for_user(self.real_user)['medium']
%>

<section role="courseware">

  <div class="container no-border">

    <h1>${course.display_name_with_default}</h1>

    <div class="btn-center">
        <!-- <ul>
            <li>
                <a href="${reverse('openedx.course_bookmarks.home', args=[course_key])}">
                    <i class="fa fa-2x fa-bookmark" aria-hidden="true"></i>
                    ${_("Bookmarks")}
                </a>
            </li>
            <li>
                % if update_message_fragment and UNIFIED_COURSE_TAB_FLAG.is_enabled(course.id):
                    <a href="${reverse('openedx.course_experience.course_updates', args=[course.id])}">
                        <i class="fa fa-2x fa-bell" aria-hidden="true"></i>
                        ${_("Updates")}
                    </a>
                % endif
            </li>
        </ul> -->

        % if resume_course_url:
            <a href="${resume_course_url}" class="btn btn-lg btn-default">
                % if has_visited_course:
                    ${_("Resume Course")}
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                % else:
                    ${_("Start Course")}
                % endif
            </a>
        % endif
    </div>

    <div class="grid">
        <div class="items dates">
            <div>
                <i class="fa fa-calendar" aria-hidden="true"></i>
                ${HTML(dates_fragment.body_html())}
            </div>
        </div>
        <div class="items handouts">
            <div>
                % if handouts_html:
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    <h3>${_("Course Handouts")}</h3>
                    ${HTML(handouts_html)}
                % endif
            </div>
        </div>
    </div>

    <h2>${_("Summary")}</h2>

    ${HTML(outline_fragment.body_html())}

  </div>
</section>

<script>
  $(document).ready(function () {
    $("link[href*='/static/css/lms-main-v1']").remove();
  });
</script>
